version: '3.7'
services:
  wukongim: # WuKongIM服务
    image: registry.cn-shanghai.aliyuncs.com/wukongim/wukongim:v2
    environment:
      - "WK_CLUSTER_NODEID=1001"
      - "WK_TOKENAUTHON=true"  # 开启token认证，生产环境强烈建议开启
      - "WK_MANAGER_TOKEN=Tsdd@2026#Wukong" # 新增：自定义固定的manager_token
      - "WK_CLUSTER_SERVERADDR=110.42.223.213:11110" # 节点内部通信请求地址
      - "WK_CLUSTER_DISCOVERY=static" # 使用静态发现模式
      - "WK_TRACE_PROMETHEUSAPIURL=http://prometheus:9090" # prometheus监控地址
      - "WK_MODE=release" # release模式
      - "WK_EXTERNAL_IP=110.42.223.213" # 服务器外网ip
      - "WK_CLUSTER_APIURL=http://10.0.0.17:5001" # api的内网地址
      - "WK_INTRANET_TCPADDR=10.0.0.17:5100" # tcp连接的内网地址，此配置主要用于压测
    healthcheck:
      test: "wget -q -Y off -O /dev/null http://localhost:5001/health > /dev/null 2>&1"
      interval: 10s
      timeout: 10s
      retries: 3
    restart: always
    volumes:
      - ./wukongim_data:/root/wukongim # 数据挂载到物理机的目录
    ports:
      - 5001:5001 # http api 端口
      - 5100:5100 # tcp端口
      - 5200:5200 # websocket端口
      - 5300:5300 # 管理端端口
      - 5172:5172 # demo端口
      - 11110:11110 # 分布式节点通讯端口
  prometheus:  # 监控服务
    image: registry.cn-shanghai.aliyuncs.com/wukongim/prometheus:v2.53.1
    volumes:
      - "./prometheus.yml:/etc/prometheus/prometheus.yml"
    ports:
      - "9090:9090"

  nginx:  # 负载均衡服务
    image: registry.cn-shanghai.aliyuncs.com/wukongim/nginx:1.27.0
    volumes:
      - "./nginx.conf:/etc/nginx/nginx.conf"
    ports:
      - "15001:5001"  # http api 端口
      - "15100:5100"  # tcp 端口
      - "15200:5200"  # websocket 端口
      - "15300:5300"  # 管理端端口
      - "15172:5172"  # demo端口
    depends_on:
      - wukongim